<div class="container text-center">
    <h1>About Us</h1>
    <h4>We are DevMatch. Our company focuses on creating an exclusive community 
    for developers, investors, and entrepreneurs to meet.</h4>
    <br>
    <h5>This is my first website ever made, and it was made through Ruby on Rails. 
    All this was created thanks to Upskill as the video tutorials were informative
    and meticulous and thanks for visiting!</h5>
</div>